.main
  .main__RightHeader
    .main__RightHeader__group
      .main__RightHeader__group__Name
        = @group.name
      .main__RightHeader__group__memberList
        - @group.users.each do |user|
          = user.name

    .main__RightHeader__Edit
      = link_to edit_group_path(@group) do
        edit

  .main__MessageField
    = render @messages
    -# .main__MessageField__Info
    -#   .main__MessageField__Info__username
    -#     kk
    -#   .main__MessageField__Info__time
    -#     10:15
         
    -# .main__MessageField__message
    -#   おはよう
  .main__Footer
    .Footer
      = form_with model: [@group, @message], html: {class: "Form__contents"}, local: true do |f|
        .Form__inputBox
          = f.text_field :content, class: 'Form__inputText', placeholder: 'type a message'
          = f.label :image, class: 'Form__inputImage ' do
            = icon('far', 'image', class: 'Form__icon')
            = f.file_field :image, class: 'Form__Hidden'
        = f.submit 'Send', class: 'Form__submitBtn'


      