.Side
  .Side__LeftHeader
    .Side__LeftHeader__list
      .Side__LeftHeader__list--left
        = current_user.name
      .Side__LeftHeader__list--right
        = link_to new_group_path, class: "Side__LeftHeader__list--right--edit" do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user), class:"Side__LeftHeader__list--right--cog" do
          = icon('fas', 'cog')

  .Side__GroupList
    - current_user.groups.each do |group|
      .Group
        = link_to '#' do
          .Group__name
            = group.name
          .Group__message
            メッセージはまだありません

